In [136]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import datetime
pd.set_option('display.max_columns', None)

In [147]:
df= pd.read_excel('caraccidentslosangeles.xlsx')

In [148]:
df.columns

Index(['ID', 'Severity', 'Start_Time', 'End_Time', 'Start_Lat', 'Start_Lng',
       'End_Lat', 'End_Lng', 'Distance(mi)', 'Description', 'Number', 'Street',
       'Side', 'City', 'County', 'State', 'Zipcode', 'Country', 'Timezone',
       'Airport_Code', 'Weather_Timestamp', 'Temperature(F)', 'Wind_Chill(F)',
       'Humidity(%)', 'Pressure(in)', 'Visibility(mi)', 'Wind_Direction',
       'Wind_Speed(mph)', 'Precipitation(in)', 'Weather_Condition', 'Amenity',
       'Bump', 'Crossing', 'Give_Way', 'Junction', 'No_Exit', 'Railway',
       'Roundabout', 'Station', 'Stop', 'Traffic_Calming', 'Traffic_Signal',
       'Turning_Loop', 'Sunrise_Sunset', 'Civil_Twilight', 'Nautical_Twilight',
       'Astronomical_Twilight'],
      dtype='object')

In [149]:
df.shape

(68956, 47)

In [150]:
df.head()

,ID,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Description,Number,Street,Side,City,County,State,Zipcode,Country,Timezone,Airport_Code,Weather_Timestamp,Temperature(F),Wind_Chill(F),Humidity(%),Pressure(in),Visibility(mi),Wind_Direction,Wind_Speed(mph),Precipitation(in),Weather_Condition,Amenity,Bump,Crossing,Give_Way,Junction,No_Exit,Railway,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-5236,2,2016-03-22 19:36:44,2016-03-23 01:36:44,34.09256,-118.206220,34.092560,-118.206220,0.000,At Avenue 43 - Accident.,NaN,CA-110 N,R,Los Angeles,Los Angeles,CA,90031,US,US/Pacific,KCQT,2016-03-22 19:47:00,64.0,NaN,24.0,30.00,10.0,NNW,9.2,NaN,Clear,False,False,False,False,False,False,False,False,False,True,False,False,False,Night,Night,Day,Day
1,A-5239,2,2016-03-22 20:59:43,2016-03-23 02:59:43,33.94819,-118.279730,33.946760,-118.279750,0.099,At Century Blvd - Accident.,NaN,I-110 S,R,Los Angeles,Los Angeles,CA,90003,US,US/Pacific,KHHR,2016-03-22 20:53:00,64.0,NaN,23.0,30.02,10.0,NNW,11.5,NaN,Clear,False,False,False,False,False,False,False,False,False,False,False,False,False,Night,Night,Night,Night
2,A-5254,3,2016-03-23 07:59:47,2016-03-23 13:59:47,34.02330,-118.172880,34.021380,-118.173390,0.136,At Whittier Blvd/Olympic Blvd - Accident.,NaN,Long Beach Fwy S,R,Los Angeles,Los Angeles,CA,90022,US,US/Pacific,KCQT,2016-03-23 07:47:00,55.9,NaN,53.0,30.11,10.0,Calm,NaN,NaN,Clear,False,False,False,False,True,False,False,False,False,False,False,False,False,Day,Day,Day,Day
3,A-5272,2,2016-03-23 11:50:32,2016-03-23 17:50:32,34.14470,-118.278650,34.141040,-118.277840,0.257,At Colorado St - Accident.,NaN,Golden State Fwy S,R,Los Angeles,Los Angeles,CA,90027,US,US/Pacific,KCQT,2016-03-23 11:47:00,73.9,NaN,14.0,30.15,10.0,Calm,NaN,NaN,Clear,False,False,False,False,False,False,False,False,False,False,False,False,False,Day,Day,Day,Day
4,A-5274,2,2016-03-23 12:16:45,2016-03-23 18:16:45,34.09914,-118.251853,34.099817,-118.251396,0.054,At I-5/Golden State Fwy - Accident. Left lane ...,NaN,CA-2 S,R,Los Angeles,Los Angeles,CA,90039,US,US/Pacific,KCQT,2016-03-23 11:47:00,73.9,NaN,14.0,30.15,10.0,Calm,NaN,NaN,Clear,False,False,False,False,False,False,False,False,False,False,False,False,False,Day,Day,Day,Day

In [ ]:
df['Number'].tail()

68951   NaN
68952   NaN
68953   NaN
68954   NaN
68955   NaN
Name: Number, dtype: float64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68956 entries, 0 to 68955
Data columns (total 47 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     68956 non-null  object
 1   Severity               68956 non-null  int64
 2   Start_Time             68956 non-null  object
 3   End_Time               68956 non-null  object
 4   Start_Lat              68956 non-null  float64
 5   Start_Lng              68956 non-null  float64
 6   End_Lat                68956 non-null  float64
 7   End_Lng                68956 non-null  float64
 8   Distance(mi)           68956 non-null  float64
 9   Description            68956 non-null  object
 10  Number                 22123 non-null  float64
 11  Street                 68956 non-null  object
 12  Side                   68956 non-null  object
 13  City                   68956 non-null  object
 14  County                 68956 non-null  object
 15  State                  68956 non-null  object
 16  Zipcode                68956 non-null  object
 17  Country                68956 non-null  object
 18  Timezone               68956 non-null  object
 19  Airport_Code           68956 non-null  object
 20  Weather_Timestamp      68733 non-null  object
 21  Temperature(F)         68414 non-null  float64
 22  Wind_Chill(F)          56594 non-null  float64
 23  Humidity(%)            68404 non-null  float64
 24  Pressure(in)           68459 non-null  float64
 25  Visibility(mi)         68630 non-null  float64
 26  Wind_Direction         67592 non-null  object
 27  Wind_Speed(mph)        63330 non-null  float64
 28  Precipitation(in)      58428 non-null  float64
 29  Weather_Condition      68655 non-null  object
 30  Amenity                68956 non-null  bool
 31  Bump                   68956 non-null  bool
 32  Crossing               68956 non-null  bool
 33  Give_Way               68956 non-null  bool
 34  Junction               68956 non-null  bool
 35  No_Exit                68956 non-null  bool
 36  Railway                68956 non-null  bool
 37  Roundabout             68956 non-null  bool
 38  Station                68956 non-null  bool
 39  Stop                   68956 non-null  bool
 40  Traffic_Calming        68956 non-null  bool
 41  Traffic_Signal         68956 non-null  bool
 42  Turning_Loop           68956 non-null  bool
 43  Sunrise_Sunset         68956 non-null  object
 44  Civil_Twilight         68956 non-null  object
 45  Nautical_Twilight      68956 non-null  object
 46  Astronomical_Twilight  68956 non-null  object
dtypes: bool(13), float64(13), int64(1), object(20)
memory usage: 18.7+ MB

In [ ]:
df.isna().sum()

ID                           0
Severity                     0
Start_Time                   0
End_Time                     0
Start_Lat                    0
Start_Lng                    0
End_Lat                      0
End_Lng                      0
Distance(mi)                 0
Description                  0
Number                   46833
Street                       0
Side                         0
City                         0
County                       0
State                        0
Zipcode                      0
Country                      0
Timezone                     0
Airport_Code                 0
Weather_Timestamp          223
Temperature(F)             542
Wind_Chill(F)            12362
Humidity(%)                552
Pressure(in)               497
Visibility(mi)             326
Wind_Direction            1364
Wind_Speed(mph)           5626
Precipitation(in)        10528
Weather_Condition          301
Amenity                      0
Bump                         0
Crossing                     0
Give_Way                     0
Junction                     0
No_Exit                      0
Railway                      0
Roundabout                   0
Station                      0
Stop                         0
Traffic_Calming              0
Traffic_Signal               0
Turning_Loop                 0
Sunrise_Sunset               0
Civil_Twilight               0
Nautical_Twilight            0
Astronomical_Twilight        0
dtype: int64

In [ ]:
df['Zipcode'].nunique()

5857

In [ ]:
df['Street'].nunique()

1604

In [ ]:
df['Weather_Condition'].unique()

array(['Clear', 'Overcast', 'Light Rain', 'Mostly Cloudy',
       'Partly Cloudy', 'Scattered Clouds', 'Haze', 'Rain', 'Mist',
       'Smoke', 'Heavy Rain', 'Fog', nan, 'Patches of Fog', 'Fair',
       'Cloudy', 'Light Rain / Windy', 'Heavy Rain / Windy',
       'Heavy T-Storm', 'Fair / Windy', 'Duststorm',
       'Light Rain with Thunder', 'T-Storm', 'Rain / Windy',
       'Mostly Cloudy / Windy', 'Light Drizzle', 'Partly Cloudy / Windy',
       'Blowing Dust', 'Thunder', 'Shallow Fog', 'Thunderstorm'],
      dtype=object)

In [ ]:
df['Weather_Timestamp'].unique()

array(['2016-03-22 19:47:00', '2016-03-22 20:53:00',
       '2016-03-23 07:47:00', ..., '2019-08-23 12:52:00',
       '2019-08-23 13:52:00', '2019-08-23 15:51:00'], dtype=object)

In [ ]:
df['Timezone'].unique()

array(['US/Pacific'], dtype=object)

In [ ]:
df['Sunrise_Sunset'].unique()

array(['Night', 'Day'], dtype=object)

In [ ]:
df['Civil_Twilight'].unique()

array(['Night', 'Day'], dtype=object)

In [ ]:
df['Description'].head()

0                             At Avenue 43 - Accident.
1                          At Century Blvd - Accident.
2            At Whittier Blvd/Olympic Blvd - Accident.
3                           At Colorado St - Accident.
4    At I-5/Golden State Fwy - Accident. Left lane ...
Name: Description, dtype: object

In [ ]:
df['Street']

0                  CA-110 N
1                   I-110 S
2          Long Beach Fwy S
3        Golden State Fwy S
4                    CA-2 S
                ...
68951       San Diego Fwy S
68952       Hollywood Fwy S
68953          Harbor Fwy N
68954       Hollywood Fwy S
68955               I-405 N
Name: Street, Length: 68956, dtype: object

In [ ]:
df['Number'].head()

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: Number, dtype: float64

In [ ]:
df['County'].unique()

array(['Los Angeles'], dtype=object)

In [ ]:
df.tail()

,ID,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Description,Number,Street,Side,City,County,State,Zipcode,Country,Timezone,Airport_Code,Weather_Timestamp,Temperature(F),Wind_Chill(F),Humidity(%),Pressure(in),Visibility(mi),Wind_Direction,Wind_Speed(mph),Precipitation(in),Weather_Condition,Amenity,Bump,Crossing,Give_Way,Junction,No_Exit,Railway,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
68951,A-2844906,2,2019-08-22 17:07:14,2019-08-22 17:36:02,34.03693,-118.43877,34.02559,-118.42918,0.957,At I-10/Santa Monica Fwy - Accident.,NaN,San Diego Fwy S,R,Los Angeles,Los Angeles,CA,90064,US,US/Pacific,KSMO,2019-08-22 16:51:00,72.0,72.0,76.0,29.57,10.0,SW,8.0,0.0,Fair,False,False,False,False,True,False,False,False,False,False,False,False,False,Day,Day,Day,Day
68952,A-2845306,3,2019-08-23 04:04:48,2019-08-23 04:33:53,34.07579,-118.27668,34.07431,-118.27225,0.273,At Benton Way/Rampart Blvd/Exit 5A - Accident.,NaN,Hollywood Fwy S,R,Los Angeles,Los Angeles,CA,90026,US,US/Pacific,KCQT,2019-08-23 03:52:00,67.0,67.0,79.0,29.62,7.0,CALM,0.0,0.0,Cloudy,False,False,False,False,False,False,False,False,False,False,False,False,False,Night,Night,Night,Night
68953,A-2845310,2,2019-08-23 12:52:31,2019-08-23 13:20:14,34.02379,-118.27639,34.02576,-118.27529,0.150,At 28th St - Accident.,NaN,Harbor Fwy N,R,Los Angeles,Los Angeles,CA,90007,US,US/Pacific,KCQT,2019-08-23 12:52:00,81.0,81.0,49.0,29.66,8.0,CALM,0.0,0.0,Fair,False,False,False,False,False,False,False,False,False,False,False,False,False,Day,Day,Day,Day
68954,A-2845313,2,2019-08-23 13:42:50,2019-08-23 14:10:06,34.07061,-118.26391,34.06974,-118.26155,0.148,At Glendale Blvd/Union Ave - Accident.,NaN,Hollywood Fwy S,R,Los Angeles,Los Angeles,CA,90026,US,US/Pacific,KCQT,2019-08-23 13:52:00,82.0,82.0,47.0,29.65,9.0,CALM,0.0,0.0,Fair,False,False,False,False,True,False,False,False,False,False,False,False,False,Day,Day,Day,Day
68955,A-2845325,2,2019-08-23 15:45:43,2019-08-23 16:14:31,34.04365,-118.44373,34.04934,-118.44842,0.476,At CA-2/Santa Monica Blvd/Exit 55A - Accident.,NaN,I-405 N,R,Los Angeles,Los Angeles,CA,90025,US,US/Pacific,KSMO,2019-08-23 15:51:00,74.0,74.0,66.0,29.64,10.0,W,8.0,0.0,Fair,False,False,False,False,True,False,False,False,False,False,False,False,False,Day,Day,Day,Day

In [ ]:
df['Start_Time'].max()

'2021-12-31 21:47:00'

In [ ]:
df['Start_Time'].min()

'2016-03-22 19:36:44'

In [ ]:
df['Crossing'].head()

0    False
1    False
2    False
3    False
4    False
Name: Crossing, dtype: bool

In [154]:
df1 = df.copy()

In [152]:
#df1.drop('Number',axis = 1, inplace = True)

In [153]:
#df1.drop('Nautical_Twilight',axis = 1, inplace = True)

In [155]:
listofcols = list(df.columns)

In [156]:
listofcols

['ID',
 'Severity',
 'Start_Time',
 'End_Time',
 'Start_Lat',
 'Start_Lng',
 'End_Lat',
 'End_Lng',
 'Distance(mi)',
 'Description',
 'Number',
 'Street',
 'Side',
 'City',
 'County',
 'State',
 'Zipcode',
 'Country',
 'Timezone',
 'Airport_Code',
 'Weather_Timestamp',
 'Temperature(F)',
 'Wind_Chill(F)',
 'Humidity(%)',
 'Pressure(in)',
 'Visibility(mi)',
 'Wind_Direction',
 'Wind_Speed(mph)',
 'Precipitation(in)',
 'Weather_Condition',
 'Amenity',
 'Bump',
 'Crossing',
 'Give_Way',
 'Junction',
 'No_Exit',
 'Railway',
 'Roundabout',
 'Station',
 'Stop',
 'Traffic_Calming',
 'Traffic_Signal',
 'Turning_Loop',
 'Sunrise_Sunset',
 'Civil_Twilight',
 'Nautical_Twilight',
 'Astronomical_Twilight']

In [ ]:
colstokeep = ['ID',
 'Severity',
 'Start_Time',
 'End_Time',
 'Start_Lat',
 'Start_Lng',
 'End_Lat',
 'End_Lng',
 'Distance(mi)',
 'City',
 'Zipcode',
 'Airport_Code',
 'Temperature(F)',
 'Wind_Chill(F)',
 'Humidity(%)',
 'Visibility(mi)',
 'Precipitation(in)',
 'Weather_Condition',
 'Amenity',
 'Bump',
 'Crossing',
 'Give_Way',
 'Junction',
 'No_Exit',
 'Railway',
 'Roundabout',
 'Station',
 'Stop',
 'Traffic_Calming',
 'Traffic_Signal',
 'Turning_Loop',
 'Civil_Twilight'
]

In [157]:
colstokeep

['ID',
 'Severity',
 'Start_Time',
 'End_Time',
 'Start_Lat',
 'Start_Lng',
 'End_Lat',
 'End_Lng',
 'Distance(mi)',
 'City',
 'Zipcode',
 'Airport_Code',
 'Temperature(F)',
 'Wind_Chill(F)',
 'Humidity(%)',
 'Visibility(mi)',
 'Precipitation(in)',
 'Weather_Condition',
 'Amenity',
 'Bump',
 'Crossing',
 'Give_Way',
 'Junction',
 'No_Exit',
 'Railway',
 'Roundabout',
 'Station',
 'Stop',
 'Traffic_Calming',
 'Traffic_Signal',
 'Turning_Loop',
 'Civil_Twilight']

In [158]:
dfnew = df[colstokeep]

In [159]:
dfnew.columns

Index(['ID', 'Severity', 'Start_Time', 'End_Time', 'Start_Lat', 'Start_Lng',
       'End_Lat', 'End_Lng', 'Distance(mi)', 'City', 'Zipcode', 'Airport_Code',
       'Temperature(F)', 'Wind_Chill(F)', 'Humidity(%)', 'Visibility(mi)',
       'Precipitation(in)', 'Weather_Condition', 'Amenity', 'Bump', 'Crossing',
       'Give_Way', 'Junction', 'No_Exit', 'Railway', 'Roundabout', 'Station',
       'Stop', 'Traffic_Calming', 'Traffic_Signal', 'Turning_Loop',
       'Civil_Twilight'],
      dtype='object')

In [160]:
dfnew.head()

,ID,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),City,Zipcode,Airport_Code,Temperature(F),Wind_Chill(F),Humidity(%),Visibility(mi),Precipitation(in),Weather_Condition,Amenity,Bump,Crossing,Give_Way,Junction,No_Exit,Railway,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Civil_Twilight
0,A-5236,2,2016-03-22 19:36:44,2016-03-23 01:36:44,34.09256,-118.206220,34.092560,-118.206220,0.000,Los Angeles,90031,KCQT,64.0,NaN,24.0,10.0,NaN,Clear,False,False,False,False,False,False,False,False,False,True,False,False,False,Night
1,A-5239,2,2016-03-22 20:59:43,2016-03-23 02:59:43,33.94819,-118.279730,33.946760,-118.279750,0.099,Los Angeles,90003,KHHR,64.0,NaN,23.0,10.0,NaN,Clear,False,False,False,False,False,False,False,False,False,False,False,False,False,Night
2,A-5254,3,2016-03-23 07:59:47,2016-03-23 13:59:47,34.02330,-118.172880,34.021380,-118.173390,0.136,Los Angeles,90022,KCQT,55.9,NaN,53.0,10.0,NaN,Clear,False,False,False,False,True,False,False,False,False,False,False,False,False,Day
3,A-5272,2,2016-03-23 11:50:32,2016-03-23 17:50:32,34.14470,-118.278650,34.141040,-118.277840,0.257,Los Angeles,90027,KCQT,73.9,NaN,14.0,10.0,NaN,Clear,False,False,False,False,False,False,False,False,False,False,False,False,False,Day
4,A-5274,2,2016-03-23 12:16:45,2016-03-23 18:16:45,34.09914,-118.251853,34.099817,-118.251396,0.054,Los Angeles,90039,KCQT,73.9,NaN,14.0,10.0,NaN,Clear,False,False,False,False,False,False,False,False,False,False,False,False,False,Day

In [161]:
dfnew.shape

(68956, 32)

In [162]:
dfnew.isna().sum()

ID                       0
Severity                 0
Start_Time               0
End_Time                 0
Start_Lat                0
Start_Lng                0
End_Lat                  0
End_Lng                  0
Distance(mi)             0
City                     0
Zipcode                  0
Airport_Code             0
Temperature(F)         542
Wind_Chill(F)        12362
Humidity(%)            552
Visibility(mi)         326
Precipitation(in)    10528
Weather_Condition      301
Amenity                  0
Bump                     0
Crossing                 0
Give_Way                 0
Junction                 0
No_Exit                  0
Railway                  0
Roundabout               0
Station                  0
Stop                     0
Traffic_Calming          0
Traffic_Signal           0
Turning_Loop             0
Civil_Twilight           0
dtype: int64

In [ ]:
#dfnew.dropna(inplace = True)

C:\Users\kathe\AppData\Local\Temp\ipykernel_21488\1722201879.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfnew.dropna(inplace = True)

In [ ]:
#dfnew.to_csv('LABFinal.csv')

In [163]:
dfnew['Start_Time'] = pd.to_datetime(dfnew['Start_Time'])

C:\Users\kathe\AppData\Local\Temp\ipykernel_21488\1397742529.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfnew['Start_Time'] = pd.to_datetime(dfnew['Start_Time'])

In [164]:
dfnew['End_Time'] = pd.to_datetime(dfnew['End_Time'])

C:\Users\kathe\AppData\Local\Temp\ipykernel_21488\3402304659.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfnew['End_Time'] = pd.to_datetime(dfnew['End_Time'])

In [165]:
dfnew['StartYear'] = dfnew['Start_Time'].dt.year

C:\Users\kathe\AppData\Local\Temp\ipykernel_21488\596517285.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfnew['StartYear'] = dfnew['Start_Time'].dt.year

In [166]:
dfnew['StartMonth'] = dfnew['Start_Time'].dt.month

C:\Users\kathe\AppData\Local\Temp\ipykernel_21488\3799390662.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfnew['StartMonth'] = dfnew['Start_Time'].dt.month

In [167]:
dfnew['Start_Time'].head()

0   2016-03-22 19:36:44
1   2016-03-22 20:59:43
2   2016-03-23 07:59:47
3   2016-03-23 11:50:32
4   2016-03-23 12:16:45
Name: Start_Time, dtype: datetime64[ns]

In [168]:
dfnew['StartDay'] = dfnew['Start_Time'].dt.day_of_week

C:\Users\kathe\AppData\Local\Temp\ipykernel_21488\395169355.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfnew['StartDay'] = dfnew['Start_Time'].dt.day_of_week

In [169]:
dfnew['StartDay'].head()

0    1
1    1
2    2
3    2
4    2
Name: StartDay, dtype: int64

In [184]:
dfnew['StartTime'] = pd.to_datetime(dfnew['Start_Time']).dt.strftime('%H:%M:%S')
dfnew['EndTime'] = pd.to_datetime(dfnew['End_Time']).dt.strftime('%H:%M:%S')

C:\Users\kathe\AppData\Local\Temp\ipykernel_21488\2464920105.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfnew['StartTime'] = pd.to_datetime(dfnew['Start_Time']).dt.strftime('%H:%M:%S')
C:\Users\kathe\AppData\Local\Temp\ipykernel_21488\2464920105.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfnew['EndTime'] = pd.to_datetime(dfnew['End_Time']).dt.strftime('%H:%M:%S')

In [185]:
dfnew['EndTime'].head()

0    01:36:44
1    02:59:43
2    13:59:47
3    17:50:32
4    18:16:45
Name: EndTime, dtype: object

In [179]:
dfnew['StartTime'].head()

0    19:36:44
1    20:59:43
2    07:59:47
3    11:50:32
4    12:16:45
Name: StartTime, dtype: object

In [186]:
dfnew['StartDate'] = pd.to_datetime(dfnew['Start_Time']).dt.date

C:\Users\kathe\AppData\Local\Temp\ipykernel_21488\3658621450.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfnew['StartDate'] = pd.to_datetime(dfnew['Start_Time']).dt.date

In [187]:
dfnew['EndDate'] = pd.to_datetime(dfnew['End_Time']).dt.date

C:\Users\kathe\AppData\Local\Temp\ipykernel_21488\871911445.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfnew['EndDate'] = pd.to_datetime(dfnew['End_Time']).dt.date

In [188]:
dfnew.to_csv('LAFinalTimes.csv')

In [189]:
dfnew.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68956 entries, 0 to 68955
Data columns (total 39 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID                 68956 non-null  object
 1   Severity           68956 non-null  int64
 2   Start_Time         68956 non-null  datetime64[ns]
 3   End_Time           68956 non-null  datetime64[ns]
 4   Start_Lat          68956 non-null  float64
 5   Start_Lng          68956 non-null  float64
 6   End_Lat            68956 non-null  float64
 7   End_Lng            68956 non-null  float64
 8   Distance(mi)       68956 non-null  float64
 9   City               68956 non-null  object
 10  Zipcode            68956 non-null  object
 11  Airport_Code       68956 non-null  object
 12  Temperature(F)     68414 non-null  float64
 13  Wind_Chill(F)      56594 non-null  float64
 14  Humidity(%)        68404 non-null  float64
 15  Visibility(mi)     68630 non-null  float64
 16  Precipitation(in)  58428 non-null  float64
 17  Weather_Condition  68655 non-null  object
 18  Amenity            68956 non-null  bool
 19  Bump               68956 non-null  bool
 20  Crossing           68956 non-null  bool
 21  Give_Way           68956 non-null  bool
 22  Junction           68956 non-null  bool
 23  No_Exit            68956 non-null  bool
 24  Railway            68956 non-null  bool
 25  Roundabout         68956 non-null  bool
 26  Station            68956 non-null  bool
 27  Stop               68956 non-null  bool
 28  Traffic_Calming    68956 non-null  bool
 29  Traffic_Signal     68956 non-null  bool
 30  Turning_Loop       68956 non-null  bool
 31  Civil_Twilight     68956 non-null  object
 32  StartYear          68956 non-null  int64
 33  StartMonth         68956 non-null  int64
 34  StartDay           68956 non-null  int64
 35  StartTime          68956 non-null  object
 36  StartDate          68956 non-null  object
 37  EndDate            68956 non-null  object
 38  EndTime            68956 non-null  object
dtypes: bool(13), datetime64[ns](2), float64(10), int64(4), object(10)
memory usage: 14.5+ MB

In [ ]:
dfnew['Zipcode'].unique()

array([90031, 90003, 90022, ..., '90022-5208', '90015-3429', '90061-2745'],
      dtype=object)

In [ ]:
dfnew.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68956 entries, 0 to 68955
Data columns (total 39 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID                 68956 non-null  object
 1   Severity           68956 non-null  int64
 2   Start_Time         68956 non-null  datetime64[ns]
 3   End_Time           68956 non-null  datetime64[ns]
 4   Start_Lat          0 non-null      float64
 5   Start_Lng          68956 non-null  float64
 6   End_Lat            68956 non-null  float64
 7   End_Lng            68956 non-null  float64
 8   Distance(mi)       68956 non-null  float64
 9   City               68956 non-null  object
 10  Zipcode            68956 non-null  object
 11  Airport_Code       68956 non-null  object
 12  Temperature(F)     68414 non-null  float64
 13  Wind_Chill(F)      56594 non-null  float64
 14  Humidity(%)        68404 non-null  float64
 15  Visibility(mi)     68630 non-null  float64
 16  Precipitation(in)  58428 non-null  float64
 17  Weather_Condition  68655 non-null  object
 18  Amenity            68956 non-null  bool
 19  Bump               68956 non-null  bool
 20  Crossing           68956 non-null  bool
 21  Give_Way           68956 non-null  bool
 22  Junction           68956 non-null  bool
 23  No_Exit            68956 non-null  bool
 24  Railway            68956 non-null  bool
 25  Roundabout         68956 non-null  bool
 26  Station            68956 non-null  bool
 27  Stop               68956 non-null  bool
 28  Traffic_Calming    68956 non-null  bool
 29  Traffic_Signal     68956 non-null  bool
 30  Turning_Loop       68956 non-null  bool
 31  Civil_Twilight     68956 non-null  object
 32  StartYear          68956 non-null  int64
 33  StartMonth         68956 non-null  int64
 34  StartDay           68956 non-null  int64
 35  StartTime          68956 non-null  object
 36  StartDate          68956 non-null  object
 37  EndDate            68956 non-null  object
 38  EndTime            68956 non-null  object
dtypes: bool(13), datetime64[ns](2), float64(10), int64(4), object(10)
memory usage: 14.5+ MB

In [ ]:
dfnew['Zipcode'].head()

0    90031
1    90003
2    90022
3    90027
4    90039
Name: Zipcode, dtype: object

In [ ]:
dfnew['Distance(mi)'].head()

0    0.000
1    0.099
2    0.136
3    0.257
4    0.054
Name: Distance(mi), dtype: float64

In [ ]:
dfnew['Humidity(%)'].head()

0    24.0
1    23.0
2    53.0
3    14.0
4    14.0
Name: Humidity(%), dtype: float64

In [190]:
dfnew['StartTime'].head()

0    19:36:44
1    20:59:43
2    07:59:47
3    11:50:32
4    12:16:45
Name: StartTime, dtype: object